
* {
    font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
  }
  
  body{
  
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 9%, rgba(247,189,234,1) 85%); */
  
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 33%, rgba(247,189,234,1) 85%); */
  
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 33%, rgba(247,189,234,1) 74%);
  }
  
  header{
      margin-top: 50px;
      margin-bottom:100px;
  }
  h1 {
  
      display: flex;
      justify-content: space-between;
      padding: 60px;
  }
  
  .title{
      font-family: "Londrina Shadow", sans-serif; font-weight: 400;
    font-style: normal;
    font-size: 5em;
  }
  
  h2{
      display: flex;
      justify-content: center;
  }
  
  button {
      display: flex;
      justify-content: center;
  }
  
  .add-btn {
      display: flex;
      justify-content: center;
      padding: 50px;
  }
  .add-recipe {
        background-color: transparent;
        border: 1px solid #266DB6;
        box-sizing: border-box;
        color: #00132C;
        line-height: 24px;
        padding: 16px 23px;
        position: relative;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        
      }
      
      .add-recipe:hover,
      .add-recipe:active {
        outline: 0;
      }
      
      .add-recipe:hover {
        background-color: transparent;
        cursor: pointer;
      }
      
      .add-recipe:before {
        background-color: #f0b7d0;
        content: "";
        height: calc(100% + 3px);
        position: absolute;
        right: -7px;
        top: -9px;
        transition: background-color 300ms ease-in;
        width: 100%;
        z-index: -1;
      }
      
      .add-recipe:hover:before {
        background-color: #a62e63;
      }
      
      @media (min-width: 768px) {
        .add-recipe {
          padding: 16px 32px;
        }
      }
  
  
  nav{
      display: flex; 
  }
  
  nav ul {
      /* commented */
      text-align: center;
  }
  
  .navigation{
      display: flex;
      justify-content: center;
     
  }
  
  .navigation .nav-tabs li{
      margin-right: 20px;
      
  }
  .nav-tabs{
      display: flex;
      list-style-type: none; 
      text-decoration: none;
  }
  
  .nav-tabs a{
      text-decoration: none;
      color: black;
  }
  
    nav ul li a:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.1);
      background-color: #a62e63;
      color: black (0, 35, 122, 0.7);
      border-radius: 60%;
    }
  
  h1 {
      display: flex;
      justify-content: center;
  }
  
  h2{
      font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  main{
      display: flex;
      margin-top: 2%;
      margin-bottom: 2%;
  }
  
  #recipeCard{
      background-image: url(https://media.istockphoto.com/id/471122949/photo/pink-page.jpg?s=612x612&w=0&k=20&c=AXCjeXHrHZMrVpNRzONutlXdP317xvaDZH2_ElSdsTM=)
      
  }
  
  .error {
    color: var(--bs-danger-text-emphasis);
  }
      
      
        /* linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
        repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px)); */
      /* box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
      height: 14rem;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      background-color: darksalmon;
      */
       /* border: 2px solid #333;
      border-radius: 8px; */
    
    
    /* .card-image {
    position: absolute;
    top: 10px; 
    left: 10px;
    width: 30px;
    height: auto;
    border-radius: 5px;
    gap: 30px;
    background-color: bisque;
    } */
    
   /*
    .card-body {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      padding: 10px;
      height: 130px;
      }
     .card-ingredient {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      border: 1 px solid #ccc;
      resize: vertical;
      flex-grow: 1;
      margin-top: 10px;
      box-sizing: border-box;
     }
     .card-title {
      position: absolute;
      top: 10px;
      right: 50px;
      margin: 0px;
      font-size: 1.5rem;
      font-weight: bold;
      flex-grow: 1;
      } 
      */
  
  .container {
      position: relative;
      padding: 5px;
  }
  
  .meal-box {
      border: 2px solid grey;
      border-radius: 25px; 
      min-height: 200px;
      margin: 20px;
  }
  
  div.meal-box .row:empty {
      height: 200px;
  }
  
  .breakfast{
      background-image: url('photos/BreakfastBG.jpg'); 
      background-size: 200px 200px; /* Adjust the size as needed */
      background-position: center; /* Optional: position the image */
      background-repeat: repeat; 
  }
  
  .lunch{
      background-image: url('photos/lunch\ BG.webp'); 
      background-size: 300px 300px;
      background-repeat: repeat; 
  }
  
  .dinner{
      background-image: url('photos/DinnerBG3.jpg'); 
      background-size: 250px 250px;
      background-position: center;
      background-repeat: repeat; 
  }
  
  .sweets{
      background-image: url('photos/SweetsBG.jpg'); 
      background-size: 300px 300px;
      background-position: center;
      background-repeat: repeat; 
  }
  
  .meal-box h3{
      display: flex;
      margin: 20px; 
      padding: 0; 
      align-items: center;
  }
  
  
  #submitButton{
      background-color: #a62e63;
      border: none;
      padding:8px;
  }
  
  #submitButton:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.1);
      background-color: #f0b7d0;
      color: black (0, 35, 122, 0.7);
  }
  
  
  
  .formSelect{
      margin: 15px;
      padding: 5px;
  }
  
  
  footer {
      display: flex; 
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
      justify-content: center;
  }
  .reserved-rights {
      margin-bottom: 10px; 
      text-align: center;
  }
  
  h5 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 10px; /* Add space between h5 elements */
  }
  
  .names{
      align-items: center;
      justify-content: center; 
      margin: 5px 0;
  }
  
  .names img {
      margin-right: 8px; 
  }
  
    
    
  